/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.NK-serif{font-family:serif}.NK-sans-serif{font-family:sans-serif}.NK-cursive{font-family:cursive}.NK-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.NK-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

.NK-image-NK{max-width:100%; height:500px; overflow:hidden}
.NK-image-NK2{max-width:100%; height:250px; overflow:hidden}
.NK-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}

.NK-table,.NK-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.NK-table-all{border:1px solid #ccc}
.NK-bordered tr,.NK-table-all tr{border-bottom:1px solid #ddd}.NK-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.NK-table-all tr:nth-child(odd){background-color:#fff}.NK-table-all tr:nth-child(even){background-color:#f1f1f1}
.NK-hoverable tbody tr:hover,.NK-ul.NK-hoverable li:hover{background-color:#ccc}.NK-centered tr th,.NK-centered tr td{text-align:center}
.NK-table td,.NK-table th,.NK-table-all td,.NK-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.NK-table th:first-child,.NK-table td:first-child,.NK-table-all th:first-child,.NK-table-all td:first-child{padding-left:16px}
.NK-btn,.NK-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.NK-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.NK-btn,.NK-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.NK-disabled,.NK-btn:disabled,.NK-button:disabled{cursor:not-allowed;opacity:0.3}.NK-disabled *,:disabled *{pointer-events:none}
.NK-btn.NK-disabled:hover,.NK-btn:disabled:hover{box-shadow:none}
.NK-badge,.NK-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.NK-badge{border-radius:50%}
.NK-ul{list-style-type:none;padding:0;margin:0}.NK-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.NK-ul li:last-child{border-bottom:none}
.NK-tooltip,.NK-display-container{position:relative}.NK-tooltip .NK-text{display:none}.NK-tooltip:hover .NK-text{display:inline-block}
.NK-ripple:active{opacity:0.5}.NK-ripple{transition:opacity 0s}
.NK-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.NK-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.NK-dropdown-click,.NK-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.NK-dropdown-hover:hover .NK-dropdown-content{display:block}
.NK-dropdown-hover:first-child,.NK-dropdown-click:hover{background-color:#ccc;color:#000}
.NK-dropdown-hover:hover > .NK-button:first-child,.NK-dropdown-click:hover > .NK-button:first-child{background-color:#ccc;color:#000}
.NK-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.NK-check,.NK-radio{width:24px;height:24px;position:relative;top:6px}
.NK-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.NK-bar-block .NK-dropdown-hover,.NK-bar-block .NK-dropdown-click{width:100%}
.NK-bar-block .NK-dropdown-hover .NK-dropdown-content,.NK-bar-block .NK-dropdown-click .NK-dropdown-content{min-width:100%}
.NK-bar-block .NK-dropdown-hover .NK-button,.NK-bar-block .NK-dropdown-click .NK-button{width:100%;text-align:left;padding:8px 16px}
.NK-main,#main{transition:margin-left .4s}
.NK-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.NK-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.NK-bar{width:100%;overflow:hidden}.NK-center .NK-bar{display:inline-block;width:auto}
.NK-bar .NK-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.NK-bar .NK-dropdown-hover,.NK-bar .NK-dropdown-click{position:static;float:left}
.NK-bar .NK-button{white-space:normal}
.NK-bar-block .NK-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.NK-bar-block.NK-center .NK-bar-item{text-align:center}.NK-block{display:block;width:100%}
.NK-responsive{display:block;overflow-x:auto}
.NK-container:after,.NK-container:before,.NK-panel:after,.NK-panel:before,.NK-row:after,.NK-row:before,.NK-row-padding:after,.NK-row-padding:before,
.NK-cell-row:before,.NK-cell-row:after,.NK-clear:after,.NK-clear:before,.NK-bar:before,.NK-bar:after{content:"";display:table;clear:both}
.NK-col,.NK-half,.NK-third,.NK-twothird,.NK-threequarter,.NK-quarter{float:left;width:100%}
.NK-col.s1{width:8.33333%}.NK-col.s2{width:16.66666%}.NK-col.s3{width:24.99999%}.NK-col.s4{width:33.33333%}
.NK-col.s5{width:41.66666%}.NK-col.s6{width:49.99999%}.NK-col.s7{width:58.33333%}.NK-col.s8{width:66.66666%}
.NK-col.s9{width:74.99999%}.NK-col.s10{width:83.33333%}.NK-col.s11{width:91.66666%}.NK-col.s12{width:99.99999%}
@media (min-width:601px){.NK-col.m1{width:8.33333%}.NK-col.m2{width:16.66666%}.NK-col.m3,.NK-quarter{width:24.99999%}.NK-col.m4,.NK-third{width:33.33333%}
.NK-col.m5{width:41.66666%}.NK-col.m6,.NK-half{width:49.99999%}.NK-col.m7{width:58.33333%}.NK-col.m8,.NK-twothird{width:66.66666%}
.NK-col.m9,.NK-threequarter{width:74.99999%}.NK-col.m10{width:83.33333%}.NK-col.m11{width:91.66666%}.NK-col.m12{width:99.99999%}}
@media (min-width:993px){.NK-col.l1{width:8.33333%}.NK-col.l2{width:16.66666%}.NK-col.l3{width:24.99999%}.NK-col.l4{width:33.33333%}
.NK-col.l5{width:41.66666%}.NK-col.l6{width:49.99999%}.NK-col.l7{width:58.33333%}.NK-col.l8{width:66.66666%}
.NK-col.l9{width:74.99999%}.NK-col.l10{width:83.33333%}.NK-col.l11{width:91.66666%}.NK-col.l12{width:99.99999%}}
.NK-rest{overflow:hidden}.NK-stretch{margin-left:-16px;margin-right:-16px}
.NK-content,.NK-auto{margin-left:auto;margin-right:auto}.NK-content{max-width:980px}.NK-auto{max-width:1140px}
.NK-cell-row{display:table;width:100%}.NK-cell{display:table-cell}
.NK-cell-top{vertical-align:top}.NK-cell-middle{vertical-align:middle}.NK-cell-bottom{vertical-align:bottom}
.NK-hide{display:none!important}.NK-show-block,.NK-show{display:block!important}.NK-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.NK-auto{max-width:95%}}
@media (max-width:600px){.NK-modal-content{margin:0 10px;width:auto!important}.NK-modal{padding-top:30px}
.NK-dropdown-hover.NK-mobile .NK-dropdown-content,.NK-dropdown-click.NK-mobile .NK-dropdown-content{position:relative}	
.NK-hide-small{display:none!important}.NK-mobile{display:block;width:100%!important}.NK-bar-item.NK-mobile,.NK-dropdown-hover.NK-mobile,.NK-dropdown-click.NK-mobile{text-align:center}
.NK-dropdown-hover.NK-mobile,.NK-dropdown-hover.NK-mobile .NK-btn,.NK-dropdown-hover.NK-mobile .NK-button,.NK-dropdown-click.NK-mobile,.NK-dropdown-click.NK-mobile .NK-btn,.NK-dropdown-click.NK-mobile .NK-button{width:100%}}
@media (max-width:768px){.NK-modal-content{width:500px}.NK-modal{padding-top:50px}}
@media (min-width:993px){.NK-modal-content{width:900px}.NK-hide-large{display:none!important}.NK-sidebar.NK-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.NK-hide-medium{display:none!important}}
@media (max-width:992px){.NK-sidebar.NK-collapse{display:none}.NK-main{margin-left:0!important;margin-right:0!important}.NK-auto{max-width:100%}}
.NK-top,.NK-bottom{position:fixed;width:100%;z-index:1}.NK-top{top:0}.NK-bottom{bottom:0}
.NK-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.NK-display-topleft{position:absolute;left:0;top:0}.NK-display-topright{position:absolute;right:0;top:0}
.NK-display-bottomleft{position:absolute;left:0;bottom:0}.NK-display-bottomright{position:absolute;right:0;bottom:0}
.NK-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.NK-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.NK-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.NK-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.NK-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.NK-display-container:hover .NK-display-hover{display:block}.NK-display-container:hover span.NK-display-hover{display:inline-block}.NK-display-hover{display:none}
.NK-display-position{position:absolute}
.NK-circle{border-radius:50%}
.NK-round-small{border-radius:2px}.NK-round,.NK-round-medium{border-radius:4px}.NK-round-large{border-radius:8px}.NK-round-xlarge{border-radius:16px}.NK-round-xxlarge{border-radius:32px}
.NK-row-padding,.NK-row-padding>.NK-half,.NK-row-padding>.NK-third,.NK-row-padding>.NK-twothird,.NK-row-padding>.NK-threequarter,.NK-row-padding>.NK-quarter,.NK-row-padding>.NK-col{padding:0 8px}
.NK-container,.NK-panel{padding:0.01em 16px}.NK-panel{margin-top:16px;margin-bottom:16px}
.NK-code,.NK-codespan{font-family:Consolas,"courier new";font-size:16px}
.NK-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.NK-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.NK-card,.NK-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.NK-card-4,.NK-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.NK-spin{animation:NK-spin 2s infinite linear}@keyframes NK-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.NK-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.NK-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.NK-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.NK-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.NK-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.NK-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.NK-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.NK-animate-input{transition:width 0.4s ease-in-out}.NK-animate-input:focus{width:100%!important}
.NK-opacity,.NK-hover-opacity:hover{opacity:0.60}.NK-opacity-off,.NK-hover-opacity-off:hover{opacity:1}
.NK-opacity-max{opacity:0.25}.NK-opacity-min{opacity:0.75}
.NK-greyscale-max,.NK-grayscale-max,.NK-hover-greyscale:hover,.NK-hover-grayscale:hover{filter:grayscale(100%)}
.NK-greyscale,.NK-grayscale{filter:grayscale(75%)}.NK-greyscale-min,.NK-grayscale-min{filter:grayscale(50%)}
.NK-sepia{filter:sepia(75%)}.NK-sepia-max,.NK-hover-sepia:hover{filter:sepia(100%)}.NK-sepia-min{filter:sepia(50%)}
.NK-tiny{font-size:10px!important}.NK-small{font-size:12px!important}.NK-medium{font-size:15px!important}.NK-large{font-size:18px!important}
.NK-xlarge{font-size:24px!important}.NK-xxlarge{font-size:36px!important}.NK-xxxlarge{font-size:48px!important}.NK-jumbo{font-size:64px!important}
.NK-left-align{text-align:left!important}.NK-right-align{text-align:right!important}.NK-justify{text-align:justify!important}.NK-center{text-align:center!important}
.NK-border-0{border:0!important}.NK-border{border:1px solid #ccc!important}
.NK-border-top{border-top:1px solid #ccc!important}.NK-border-bottom{border-bottom:1px solid #ccc!important}
.NK-border-left{border-left:1px solid #ccc!important}.NK-border-right{border-right:1px solid #ccc!important}
.NK-topbar{border-top:6px solid #ccc!important}.NK-bottombar{border-bottom:6px solid #ccc!important}
.NK-leftbar{border-left:6px solid #ccc!important}.NK-rightbar{border-right:6px solid #ccc!important}
.NK-section,.NK-code{margin-top:16px!important;margin-bottom:16px!important}
.NK-margin{margin:16px!important}.NK-margin-top{margin-top:16px!important}.NK-margin-bottom{margin-bottom:16px!important}
.NK-margin-left{margin-left:16px!important}.NK-margin-right{margin-right:16px!important}
.NK-padding-small{padding:4px 8px!important}.NK-padding{padding:8px 16px!important}.NK-padding-large{padding:12px 24px!important}
.NK-padding-16{padding-top:16px!important;padding-bottom:16px!important}.NK-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.NK-padding-32{padding-top:32px!important;padding-bottom:32px!important}.NK-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.NK-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.NK-padding-top-64{padding-top:64px!important}.NK-padding-top-48{padding-top:48px!important}
.NK-padding-top-32{padding-top:32px!important}.NK-padding-top-24{padding-top:24px!important}
.NK-left{float:left!important}.NK-right{float:right!important}
.NK-button:hover{color:#000!important;background-color:#ccc!important}
.NK-transparent,.NK-hover-none:hover{background-color:transparent!important}
.NK-hover-none:hover{box-shadow:none!important}
/* Colors */
.NK-amber,.NK-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.NK-aqua,.NK-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.NK-blue,.NK-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.NK-light-blue,.NK-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.NK-brown,.NK-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.NK-cyan,.NK-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.NK-blue-grey,.NK-hover-blue-grey:hover,.NK-blue-gray,.NK-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.NK-green,.NK-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.NK-light-green,.NK-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.NK-indigo,.NK-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.NK-khaki,.NK-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.NK-lime,.NK-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.NK-orange,.NK-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.NK-deep-orange,.NK-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.NK-pink,.NK-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.NK-purple,.NK-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.NK-deep-purple,.NK-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.NK-red,.NK-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.NK-sand,.NK-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.NK-teal,.NK-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.NK-yellow,.NK-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.NK-white,.NK-hover-white:hover{color:#000!important;background-color:#fff!important}
.NK-black,.NK-hover-black:hover{color:#fff!important;background-color:#000!important}
.NK-grey,.NK-hover-grey:hover,.NK-gray,.NK-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.NK-light-grey,.NK-hover-light-grey:hover,.NK-light-gray,.NK-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.NK-dark-grey,.NK-hover-dark-grey:hover,.NK-dark-gray,.NK-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.NK-pale-red,.NK-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.NK-pale-green,.NK-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.NK-pale-yellow,.NK-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.NK-pale-blue,.NK-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.NK-text-amber,.NK-hover-text-amber:hover{color:#ffc107!important}
.NK-text-aqua,.NK-hover-text-aqua:hover{color:#00ffff!important}
.NK-text-blue,.NK-hover-text-blue:hover{color:#2196F3!important}
.NK-text-light-blue,.NK-hover-text-light-blue:hover{color:#87CEEB!important}
.NK-text-brown,.NK-hover-text-brown:hover{color:#795548!important}
.NK-text-cyan,.NK-hover-text-cyan:hover{color:#00bcd4!important}
.NK-text-blue-grey,.NK-hover-text-blue-grey:hover,.NK-text-blue-gray,.NK-hover-text-blue-gray:hover{color:#607d8b!important}
.NK-text-green,.NK-hover-text-green:hover{color:#4CAF50!important}
.NK-text-light-green,.NK-hover-text-light-green:hover{color:#8bc34a!important}
.NK-text-indigo,.NK-hover-text-indigo:hover{color:#3f51b5!important}
.NK-text-khaki,.NK-hover-text-khaki:hover{color:#b4aa50!important}
.NK-text-lime,.NK-hover-text-lime:hover{color:#cddc39!important}
.NK-text-orange,.NK-hover-text-orange:hover{color:#ff9800!important}
.NK-text-deep-orange,.NK-hover-text-deep-orange:hover{color:#ff5722!important}
.NK-text-pink,.NK-hover-text-pink:hover{color:#e91e63!important}
.NK-text-purple,.NK-hover-text-purple:hover{color:#9c27b0!important}
.NK-text-deep-purple,.NK-hover-text-deep-purple:hover{color:#673ab7!important}
.NK-text-red,.NK-hover-text-red:hover{color:#f44336!important}
.NK-text-sand,.NK-hover-text-sand:hover{color:#fdf5e6!important}
.NK-text-teal,.NK-hover-text-teal:hover{color:#009688!important}
.NK-text-yellow,.NK-hover-text-yellow:hover{color:#d2be0e!important}
.NK-text-white,.NK-hover-text-white:hover{color:#fff!important}
.NK-text-black,.NK-hover-text-black:hover{color:#000!important}
.NK-text-grey,.NK-hover-text-grey:hover,.NK-text-gray,.NK-hover-text-gray:hover{color:#757575!important}
.NK-text-light-grey,.NK-hover-text-light-grey:hover,.NK-text-light-gray,.NK-hover-text-light-gray:hover{color:#f1f1f1!important}
.NK-text-dark-grey,.NK-hover-text-dark-grey:hover,.NK-text-dark-gray,.NK-hover-text-dark-gray:hover{color:#3a3a3a!important}
.NK-border-amber,.NK-hover-border-amber:hover{border-color:#ffc107!important}
.NK-border-aqua,.NK-hover-border-aqua:hover{border-color:#00ffff!important}
.NK-border-blue,.NK-hover-border-blue:hover{border-color:#2196F3!important}
.NK-border-light-blue,.NK-hover-border-light-blue:hover{border-color:#87CEEB!important}
.NK-border-brown,.NK-hover-border-brown:hover{border-color:#795548!important}
.NK-border-cyan,.NK-hover-border-cyan:hover{border-color:#00bcd4!important}
.NK-border-blue-grey,.NK-hover-border-blue-grey:hover,.NK-border-blue-gray,.NK-hover-border-blue-gray:hover{border-color:#607d8b!important}
.NK-border-green,.NK-hover-border-green:hover{border-color:#4CAF50!important}
.NK-border-light-green,.NK-hover-border-light-green:hover{border-color:#8bc34a!important}
.NK-border-indigo,.NK-hover-border-indigo:hover{border-color:#3f51b5!important}
.NK-border-khaki,.NK-hover-border-khaki:hover{border-color:#f0e68c!important}
.NK-border-lime,.NK-hover-border-lime:hover{border-color:#cddc39!important}
.NK-border-orange,.NK-hover-border-orange:hover{border-color:#ff9800!important}
.NK-border-deep-orange,.NK-hover-border-deep-orange:hover{border-color:#ff5722!important}
.NK-border-pink,.NK-hover-border-pink:hover{border-color:#e91e63!important}
.NK-border-purple,.NK-hover-border-purple:hover{border-color:#9c27b0!important}
.NK-border-deep-purple,.NK-hover-border-deep-purple:hover{border-color:#673ab7!important}
.NK-border-red,.NK-hover-border-red:hover{border-color:#f44336!important}
.NK-border-sand,.NK-hover-border-sand:hover{border-color:#fdf5e6!important}
.NK-border-teal,.NK-hover-border-teal:hover{border-color:#009688!important}
.NK-border-yellow,.NK-hover-border-yellow:hover{border-color:#ffeb3b!important}
.NK-border-white,.NK-hover-border-white:hover{border-color:#fff!important}
.NK-border-black,.NK-hover-border-black:hover{border-color:#000!important}
.NK-border-grey,.NK-hover-border-grey:hover,.NK-border-gray,.NK-hover-border-gray:hover{border-color:#9e9e9e!important}
.NK-border-light-grey,.NK-hover-border-light-grey:hover,.NK-border-light-gray,.NK-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.NK-border-dark-grey,.NK-hover-border-dark-grey:hover,.NK-border-dark-gray,.NK-hover-border-dark-gray:hover{border-color:#616161!important}
.NK-border-pale-red,.NK-hover-border-pale-red:hover{border-color:#ffe7e7!important}.NK-border-pale-green,.NK-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.NK-border-pale-yellow,.NK-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.NK-border-pale-blue,.NK-hover-border-pale-blue:hover{border-color:#e7ffff!important}
